[COLUMNS]
Quantity=Count
Set=Edition
Printing=Foil

[CONDITIONS]
Lightly Played=Good (Lightly Played)
Moderately Played=Played
Damaged=Poor

[LANGUAGES]
Chinese (S)=Chinese
Chinese (T)=Chinese Traditional

[EDITONS]
Masterpiece Series: Amonkhet Invocations=Amonkhet Invocations
Arena Promos=Arena League
APAC Lands=Asia Pacific Land Program
Champs Promos=Champs
Coldsnap Theme Deck Reprints=Coldsnap Theme Decks
Deckmasters Garfield vs Finkel=Deckmasters
Duel Decks: Anthology=Duel Decks Anthology, Divine vs. Demonic
8th Edition=Eighth Edition
European Lands=European Land Program
Fourth Edition (Foreign White Border)=Fourth Edition: Alternate
Fourth Edition (Foreign Black Border)=Fourth Edition: Black Bordered
FNM Promos=Friday Night Magic
Magic Game Night=Game Night
Magic Game Night 2019=Game Night 2019
Gift Boxes and Promos=Gift Pack Promos
Global Series Jiang Yanggu and Mu Yanling=Global Series: Jiang Yanggu and Mu Yanling
Grand Prix Promos=Grand Prix
Guilds of Ravnica: Guild Kits=Guilds of Ravnica Guild Kit
Mythic Edition: Guilds of Ravnica=Guilds of Ravnica Mythic Edition
Guru Lands=Guru
International Edition=International Collectors' Edition
Judge Promos=Judge Gift Program
Masterpiece Series: Kaladesh Inventions=Kaladesh Inventions
Launch Party & Release Event Promos=Launch Parties
Alpha Edition=Limited Edition Alpha
Beta Edition=Limited Edition Beta
Magic 2010 (M10)=Magic 2010
Magic 2011 (M11)=Magic 2011
Magic 2012 (M12)=Magic 2012
Magic 2013 (M13)=Magic 2013
Magic 2014 (M14)=Magic 2014 Core Set
Magic 2015 (M15)=Magic 2015 Core Set
Media Promos=Media Inserts
Magic Modern Event Deck=Modern Event Deck 2014
Modern Masters 2015=Modern Masters 2015 Edition
Modern Masters 2017=Modern Masters 2017 Edition
Mystery Booster Cards=Mystery Booster
Mystery Booster: Convention Edition Exclusives=Mystery Booster Playtest Cards
Mystery Booster: Retail Exclusives=Mystery Booster Retail Edition Foils
9th Edition=Ninth Edition
Oversize Cards=Oversized: 9x12
Prerelease Cards=Prerelease Events
Promo Pack: Ikoria=Promo Pack: Ikoria: Lair of Behemoths
Pro Tour Promos=Pro Tour
Ravnica Allegiance: Guild Kits=Ravnica Allegiance Guild Kit
Mythic Edition: Ravnica Allegiance=Ravnica Allegiance Mythic Edition
Secret Lair Series=Secret Lair: Ultimate Edition
7th Edition=Seventh Edition
10th Edition=Tenth Edition
Timeshifted=Time Spiral "Timeshifted"
Mythic Edition: War of the Spark=War of the Spark Mythic Edition
WMCQ Promo Cards=World Magic Cup Qualifiers
World Championship Decks=Worlds
WPN & Gateway Promos=WPN/Gateway
Commander: Adventures in the Forgotten Realms=Adventures in the Forgotten Realms Commander
Commander: Zendikar Rising=Zendikar Rising Commander
Commander: Innistrad: Midnight Hunt=Innistrad: Midnight Hunt Commander
Commander: Innistrad: Crimson Vow=Innistrad: Crimson Vow Commander
SLX Cards=Universes Within
Time Spiral: Remastered=Time Spiral Remastered
Commander: Kamigawa: Neon Dynasty=Kamigawa: Neon Dynasty Commander
Strixhaven: Mystical Archives=Strixhaven Mystical Archive
Commander: Kaldheim=Kaldheim Commander
Commander: Streets of New Capenna=Streets of New Capenna Commander

[NAMES]
A-Alrund, God of the Cosmos=A-Alrund, God of the Cosmos // A-Hakka, Whispering Raven
A-Monster Manual=A-Monster Manual // A-Zoological Study
A-Rowan, Scholar of Sparks=A-Rowan, Scholar of Sparks // A-Will, Scholar of Frost
Aberrant Researcher=Aberrant Researcher // Perfected Form
Accursed Witch=Accursed Witch // Infectious Curse
Afflicted Deserter=Afflicted Deserter // Werewolf Ransacker
Agadeem's Awakening=Agadeem's Awakening // Agadeem, the Undercrypt
Akki Lavarunner=Akki Lavarunner // Tok-Tok, Volcano Born
Akoum Warrior=Akoum Warrior // Akoum Teeth
Alive=Alive // Well
Alluring Suitor=Alluring Suitor // Deadly Dancer
Alrund, God of the Cosmos=Alrund, God of the Cosmos // Hakka, Whispering Raven
Altar of Bhaal=Altar of Bhaal // Bone Offering
Ambitious Farmhand=Ambitious Farmhand // Seasoned Cathar
Amethyst Dragon=Amethyst Dragon // Explosive Crystal
Animating Faerie=Animating Faerie // Bring to Life
Appeal=Appeal // Authority
Archangel Avacyn=Archangel Avacyn // Avacyn, the Purifier
Ardenvale Tactician=Ardenvale Tactician // Dizzying Swoop
Arguel's Blood Fast=Arguel's Blood Fast // Temple of Aclazotz
Arlinn Kord=Arlinn Kord // Arlinn, Embraced by the Moon
Arlinn, the Pack's Hope=Arlinn, the Pack's Hope // Arlinn, the Moon's Fury
Armed=Armed // Dangerous
Assault=Assault // Battery
Assure=Assure // Assemble
Augmenter Pugilist=Augmenter Pugilist // Echoing Equation
Autumnal Gloom=Autumnal Gloom // Ancient of the Equinox
Avabruck Caretaker=Avabruck Caretaker // Hollowhenge Huntmaster
Avacynian Missionaries=Avacynian Missionaries // Lunarch Inquisitors
Azor's Gateway=Azor's Gateway // Sanctum of the Sun
Azusa's Many Journeys=Azusa's Many Journeys // Likeness of the Seeker
Baithook Angler=Baithook Angler // Hook-Haunt Drifter
Bala Ged Recovery=Bala Ged Recovery // Bala Ged Sanctuary
Ballista Watcher=Ballista Watcher // Ballista Wielder
Baneblade Scoundrel=Baneblade Scoundrel // Baneclaw Marauder
Barkchannel Pathway=Barkchannel Pathway // Tidechannel Pathway
Beanstalk Giant=Beanstalk Giant // Fertile Footsteps
Beck=Beck // Call
Bedeck=Bedeck // Bedazzle
Befriending the Moths=Befriending the Moths // Imperial Moth
Behold the Unspeakable=Behold the Unspeakable // Vision of the Unspeakable
Beloved Beggar=Beloved Beggar // Generous Soul
Bereaved Survivor=Bereaved Survivor // Dauntless Avenger
Beyeen Veil=Beyeen Veil // Beyeen Coast
Bind=Bind // Liberate
Binding Geist=Binding Geist // Spectral Binding
Biolume Egg=Biolume Egg // Biolume Serpent
Bird Admirer=Bird Admirer // Wing Shredder
Birgi, God of Storytelling=Birgi, God of Storytelling // Harnfel, Horn of Bounty
Blackbloom Rogue=Blackbloom Rogue // Blackbloom Bog
Blessed Hippogriff=Blessed Hippogriff // Tyr's Blessing
Blex, Vexing Pest=Blex, Vexing Pest // Search for Blex
Blightstep Pathway=Blightstep Pathway // Searstep Pathway
Bloodline Keeper=Bloodline Keeper // Lord of Lineage
Bloodsworn Squire=Bloodsworn Squire // Bloodsworn Knight
Bonecrusher Giant=Bonecrusher Giant // Stomp
Boom=Boom // Bust
Boseiju Reaches Skyward=Boseiju Reaches Skyward // Branch of Boseiju
Bound=Bound // Determined
Branchloft Pathway=Branchloft Pathway // Boulderloft Pathway
Brazen Borrower=Brazen Borrower // Petty Theft
Breaking=Breaking // Entering
Breakneck Rider=Breakneck Rider // Neck Breaker
Brightclimb Pathway=Brightclimb Pathway // Grimclimb Pathway
Brine Comber=Brine Comber // Brinebound Gift
Bruna, the Fading Light=Bruna, the Fading Light // Brisela, Voice of Nightmares
Brutal Cathar=Brutal Cathar // Moonrage Brute
Budoka Gardener=Budoka Gardener // Dokai, Weaver of Life
Budoka Pupil=Budoka Pupil // Ichiga, Who Topples Oaks
Burly Breaker=Burly Breaker // Dire-Strain Demolisher
Bushi Tenderfoot=Bushi Tenderfoot // Kenzo the Hardhearted
Callow Jushi=Callow Jushi // Jaraku the Interloper
Carnival=Carnival // Carnage
Catapult Fodder=Catapult Fodder // Catapult Captain
Catch=Catch // Release
Chalice of Life=Chalice of Life // Chalice of Death
Champions of Archery=Champions of Archery // Join the Group
Chandra, Fire of Kaladesh=Chandra, Fire of Kaladesh // Chandra, Roaring Flame
Chaplain of Alms=Chaplain of Alms // Chapel Shieldgeist
Child of the Pack=Child of the Pack // Savage Packmate
Chosen of Markov=Chosen of Markov // Markov's Servant
Civilized Scholar=Civilized Scholar // Homicidal Brute
Claim=Claim // Fame
Clearwater Pathway=Clearwater Pathway // Murkwater Pathway
Cloistered Youth=Cloistered Youth // Unholy Fiend
Collectigull=Collectigull // Only the Best
Collision=Collision // Colossus
Colossal Badger=Colossal Badger // Dig Deep
Commit=Commit // Memory
Concealing Curtains=Concealing Curtains // Revealing Eye
Conduit of Storms=Conduit of Storms // Conduit of Emrakul
Connive=Connive // Concoct
Conqueror's Galleon=Conqueror's Galleon // Conqueror's Foothold
Consecrate=Consecrate // Consume
Consign=Consign // Oblivion
Convicted Killer=Convicted Killer // Branded Howler
Cosima, God of the Voyage=Cosima, God of the Voyage // The Omenkeel
Covert Cutpurse=Covert Cutpurse // Covetous Geist
Covetous Castaway=Covetous Castaway // Ghostly Castigator
Cragcrown Pathway=Cragcrown Pathway // Timbercrown Pathway
Crime=Crime // Punishment
Cryptolith Fragment=Cryptolith Fragment // Aurora of Emrakul
Crystal Dragon=Crystal Dragon // Rob the Hoard
Cunning Bandit=Cunning Bandit // Azamuki, Treachery Incarnate
Curious Homunculus=Curious Homunculus // Voracious Reader
Curious Pair=Curious Pair // Treats to Share
Curse of Leeches=Curse of Leeches // Leeching Lurker
Curse of the Fire Penguin=Curse of the Fire Penguin // Curse of the Fire Penguin Creature
Cut=Cut // Ribbons
Daring Sleuth=Daring Sleuth // Bearer of Overwhelming Truths
Darkbore Pathway=Darkbore Pathway // Slitherbore Pathway
Daybreak Ranger=Daybreak Ranger // Nightfall Predator
Dead=Dead // Gone
Deathbonnet Sprout=Deathbonnet Sprout // Deathbonnet Hulk
Decorated Knight=Decorated Knight // Present Arms
Delver of Secrets=Delver of Secrets // Insectile Aberration
Dennick, Pious Apprentice=Dennick, Pious Apprentice // Dennick, Pious Apparition
Depose=Depose // Deploy
Desperate Farmer=Desperate Farmer // Depraved Harvester
Destined=Destined // Lead
Devoted Grafkeeper=Devoted Grafkeeper // Departed Soulkeeper
Discovery=Discovery // Dispersal
Distracting Geist=Distracting Geist // Clever Distraction
Docent of Perfection=Docent of Perfection // Final Iteration
Dormant Grove=Dormant Grove // Gnarled Grovestrider
Dorothea, Vengeful Victim=Dorothea, Vengeful Victim // Dorothea's Retribution
Down=Down // Dirty
Dowsing Dagger=Dowsing Dagger // Lost Vale
Dracula the Voyager=Dracula the Voyager // Casket of Native Earth
Dracula, Lord of Blood=Dracula, Lord of Blood // Dracula, Lord of Bats
Dread Linnorm=Dread Linnorm // Scale Deflection
Driven=Driven // Despair
Drogskol Infantry=Drogskol Infantry // Drogskol Armaments
Dusk=Dusk // Dawn
Duskwatch Recruiter=Duskwatch Recruiter // Krallenhorde Howler
Ecstatic Awakener=Ecstatic Awakener // Awoken Demon
Edgar, Charmed Groom=Edgar, Charmed Groom // Edgar Markov's Coffin
Egon, God of Death=Egon, God of Death // Throne of Death
Elbrus, the Binding Blade=Elbrus, the Binding Blade // Withengar Unbound
Elusive Tormentor=Elusive Tormentor // Insidious Mist
Embereth Shieldbreaker=Embereth Shieldbreaker // Battle Display
Emerald Dragon=Emerald Dragon // Dissonant Wave
Emeria's Call=Emeria's Call // Emeria, Shattered Skyclave
Enduring Angel=Enduring Angel // Angelic Enforcer
Era of Enlightenment=Era of Enlightenment // Hand of Enlightenment
Erayo, Soratami Ascendant=Erayo, Soratami Ascendant // Erayo's Essence
Esika, God of the Tree=Esika, God of the Tree // The Prismatic Bridge
Ettercap=Ettercap // Web Shot
Expansion=Expansion // Explosion
Extricator of Sin=Extricator of Sin // Extricator of Flesh
Extus, Oriq Overlord=Extus, Oriq Overlord // Awaken the Blood Avatar
Fable of the Mirror-Breaker=Fable of the Mirror-Breaker // Reflection of Kiki-Jiki
Fae of Wishes=Fae of Wishes // Granted
Faerie Guidemother=Faerie Guidemother // Gift of the Fae
Failure=Failure // Comply
Faithbound Judge=Faithbound Judge // Sinner's Judgment
Faithful Squire=Faithful Squire // Kaiso, Memory of Loyalty
Fang Dragon=Fang Dragon // Forktail Sweep
Fangblade Brigand=Fangblade Brigand // Fangblade Eviscerator
Far=Far // Away
Farm=Farm // Market
Fast=Fast // Furious
Fearful Villager=Fearful Villager // Fearsome Werewolf
Find=Find // Finality
Fire=Fire // Ice
Flame Channeler=Flame Channeler // Embodiment of Flame
Flamescroll Celebrant=Flamescroll Celebrant // Revel in Silence
Flaxen Intruder=Flaxen Intruder // Welcome Home
Flesh=Flesh // Blood
Flower=Flower // Flourish
Foreboding Statue=Foreboding Statue // Forsaken Thresher
Foulmire Knight=Foulmire Knight // Profane Insight
Galedrifter=Galedrifter // Waildrifter
Garenbrig Carver=Garenbrig Carver // Shield's Might
Garruk Relentless=Garruk Relentless // Garruk, the Veil-Cursed
Gatstaf Arsonists=Gatstaf Arsonists // Gatstaf Ravagers
Gatstaf Shepherd=Gatstaf Shepherd // Gatstaf Howler
Geier Reach Bandit=Geier Reach Bandit // Vildin-Pack Alpha
Ghost Lantern=Ghost Lantern // Bind Spirit
Giant Killer=Giant Killer // Chop Down
Gisela, the Broken Blade=Gisela, the Broken Blade // Brisela, Voice of Nightmares
Give=Give // Take
Glasspool Mimic=Glasspool Mimic // Glasspool Shore
Golden Guardian=Golden Guardian // Gold-Forge Garrison
Graf Rats=Graf Rats // Chittering Host
Graveyard Trespasser=Graveyard Trespasser // Graveyard Glutton
Gray Slaad=Gray Slaad // Entropic Decay
Grimlock, Dinobot Leader=Grimlock, Dinobot Leader // Grimlock, Ferocious King
Grind=Grind // Dust
Grizzled Angler=Grizzled Angler // Grisly Anglerfish
Grizzled Outcasts=Grizzled Outcasts // Krallenhorde Wantons
Growing Rites of Itlimoc=Growing Rites of Itlimoc // Itlimoc, Cradle of the Sun
Guardian Naga=Guardian Naga // Banishing Coils
Gutter Skulker=Gutter Skulker // Gutter Shortcut
Hadana's Climb=Hadana's Climb // Winged Temple of Orazca
Hagra Mauling=Hagra Mauling // Hagra Broodpit
Halvar, God of Battle=Halvar, God of Battle // Sword of the Realms
Hanweir Battlements=Hanweir Battlements // Hanweir, the Writhing Township
Hanweir Garrison=Hanweir Garrison // Hanweir, the Writhing Township
Hanweir Militia Captain=Hanweir Militia Captain // Westvale Cult Leader
Hanweir Watchkeep=Hanweir Watchkeep // Bane of Hanweir
Harvest Hand=Harvest Hand // Scrounged Scythe
Harvesttide Infiltrator=Harvesttide Infiltrator // Harvesttide Assailant
Havengul Laboratory=Havengul Laboratory // Havengul Mystery
Hawkins National Laboratory=Hawkins National Laboratory // The Upside Down
Heaven=Heaven // Earth
Heir of Falkenrath=Heir of Falkenrath // Heir to the Night
Heirloom Mirror=Heirloom Mirror // Inherited Fiend
Hengegate Pathway=Hengegate Pathway // Mistgate Pathway
Henrika Domnathi=Henrika Domnathi // Henrika, Infernal Seer
Hermit of the Natterknolls=Hermit of the Natterknolls // Lone Wolf of the Natterknolls
Hezrou=Hezrou // Demonic Stench
Hide=Hide // Seek
Hidetsugu Consumes All=Hidetsugu Consumes All // Vessel of the All-Consuming
Hinterland Hermit=Hinterland Hermit // Hinterland Scourge
Hinterland Logger=Hinterland Logger // Timber Shredder
Hired Muscle=Hired Muscle // Scarmaker
Hit=Hit // Run
Homura, Human Ascendant=Homura, Human Ascendant // Homura's Essence
Hookhand Mariner=Hookhand Mariner // Riphook Raider
Horn of Valhalla=Horn of Valhalla // Ysgard's Call
Hostile Hostel=Hostile Hostel // Creeping Inn
Hound Tamer=Hound Tamer // Untamed Pup
Howlpack Piper=Howlpack Piper // Wildsong Howler
Huntmaster of the Fells=Huntmaster of the Fells // Ravager of the Fells
Hypnotic Sprite=Hypnotic Sprite // Mesmeric Glare
Ill-Tempered Loner=Ill-Tempered Loner // Howlpack Avenger
Illithid Harvester=Illithid Harvester // Plant Tadpoles
Illusion=Illusion // Reality
Incubation=Incubation // Incongruity
Indulge=Indulge // Excess
Infestation Expert=Infestation Expert // Infested Werewolf
Initiate of Blood=Initiate of Blood // Goka the Unjust
Innocent Traveler=Innocent Traveler // Malicious Invader
Instigator Gang=Instigator Gang // Wildblood Pack
Insult=Insult // Injury
Integrity=Integrity // Intervention
Inventive Iteration=Inventive Iteration // Living Breakthrough
Invert=Invert // Invent
Jace, Vryn's Prodigy=Jace, Vryn's Prodigy // Jace, Telepath Unbound
Jacob Hauken, Inspector=Jacob Hauken, Inspector // Hauken's Insight
Jadzi, Oracle of Arcavios=Jadzi, Oracle of Arcavios // Journey to the Oracle
Jerren, Corrupted Bishop=Jerren, Corrupted Bishop // Ormendahl, the Corrupter
Jonathan Harker=Jonathan Harker // Harker's Obsessive Inquiry
Jorn, God of Winter=Jorn, God of Winter // Kaldring, the Rimestaff
Journey to Eternity=Journey to Eternity // Atzal, Cave of Eternity
Jugan Defends the Temple=Jugan Defends the Temple // Remnant of the Rising Star
Jushi Apprentice=Jushi Apprentice // Tomoya the Revealer
Jwari Disruption=Jwari Disruption // Jwari Ruins
Kabira Takedown=Kabira Takedown // Kabira Plateau
Katilda, Dawnhart Martyr=Katilda, Dawnhart Martyr // Katilda's Rising Dawn
Kazandu Mammoth=Kazandu Mammoth // Kazandu Valley
Kazuul's Fury=Kazuul's Fury // Kazuul's Cliffs
Kessig Forgemaster=Kessig Forgemaster // Flameheart Werewolf
Kessig Naturalist=Kessig Naturalist // Lord of the Ulvenwald
Kessig Prowler=Kessig Prowler // Sinuous Predator
Khalni Ambush=Khalni Ambush // Khalni Territory
Kianne, Dean of Substance=Kianne, Dean of Substance // Imbraham, Dean of Theory
Kindly Ancestor=Kindly Ancestor // Ancestor's Embrace
Kindly Stranger=Kindly Stranger // Demon-Possessed Witch
Kitsune Mystic=Kitsune Mystic // Autumn-Tail, Kitsune Sage
Kolvori, God of Kinship=Kolvori, God of Kinship // The Ringhart Crest
Krark's Thumb=Krark's Thumb // Krark's Thumb
Kruin Outlaw=Kruin Outlaw // Terror of Kruin Pass
Kumano Faces Kakkazan=Kumano Faces Kakkazan // Etching of Kumano
Kuon, Ogre Ascendant=Kuon, Ogre Ascendant // Kuon's Essence
Kytheon, Hero of Akros=Kytheon, Hero of Akros // Gideon, Battle-Forged
Lambholt Elder=Lambholt Elder // Silverpelt Werewolf
Lambholt Pacifist=Lambholt Pacifist // Lambholt Butcher
Lambholt Raconteur=Lambholt Raconteur // Lambholt Ravager
Lantern Bearer=Lantern Bearer // Lanterns' Lift
Leave=Leave // Chance
Legion's Landing=Legion's Landing // Adanto, the First Fort
Life=Life // Death
Life of Toshiro Umezawa=Life of Toshiro Umezawa // Memory of Toshiro
Liliana, Heretical Healer=Liliana, Heretical Healer // Liliana, Defiant Necromancer
Lone Rider=Lone Rider // It That Rides as One
Lonesome Unicorn=Lonesome Unicorn // Rider in Need
Lovestruck Beast=Lovestruck Beast // Heart's Desire
Loyal Cathar=Loyal Cathar // Unhallowed Cathar
Lucy Westenra=Lucy Westenra // Lucy, Arisen Vampire
Ludevic's Test Subject=Ludevic's Test Subject // Ludevic's Abomination
Ludevic, Necrogenius=Ludevic, Necrogenius // Olag, Ludevic's Hubris
Lunarch Veteran=Lunarch Veteran // Luminous Phantom
Makindi Stampede=Makindi Stampede // Makindi Mesas
Malakir Rebirth=Malakir Rebirth // Malakir Mire
Malevolent Hermit=Malevolent Hermit // Benevolent Geist
Mayor of Avabruck=Mayor of Avabruck // Howlpack Alpha
Merchant of the Vale=Merchant of the Vale // Haggle
Merfolk Secretkeeper=Merfolk Secretkeeper // Venture Deeper
Michiko's Reign of Truth=Michiko's Reign of Truth // Portrait of Michiko
Midnight Scavengers=Midnight Scavengers // Chittering Host
Mila, Crafty Companion=Mila, Crafty Companion // Lukka, Wayward Bonder
Mirrorhall Mimic=Mirrorhall Mimic // Ghastly Mimicry
Mischievous Catgeist=Mischievous Catgeist // Catlike Curiosity
Mondronen Shaman=Mondronen Shaman // Tovolar's Magehunter
Monster Manual=Monster Manual // Zoological Study
Moonshae Pixie=Moonshae Pixie // Pixie Dust
Mourning Patrol=Mourning Patrol // Morning Apparition
Mouth=Mouth // Feed
Murderous Rider=Murderous Rider // Swift End
Mysterious Tome=Mysterious Tome // Chilling Chronicle
Mystic Skull=Mystic Skull // Mystic Monstrosity
Naughty=Naughty // Nice
Needleverge Pathway=Needleverge Pathway // Pillarverge Pathway
Neglected Heirloom=Neglected Heirloom // Ashmouth Blade
Never=Never // Return
Nezumi Graverobber=Nezumi Graverobber // Nighteyes the Desecrator
Nezumi Shortfang=Nezumi Shortfang // Stabwhisker the Odious
Nicol Bolas, the Ravager=Nicol Bolas, the Ravager // Nicol Bolas, the Arisen
Night=Night // Day
Nightmare Moon=Nightmare Moon // Princess Luna
Nissa, Vastwood Seer=Nissa, Vastwood Seer // Nissa, Sage Animist
Oakhame Ranger=Oakhame Ranger // Bring Back
Oakshade Stalker=Oakshade Stalker // Moonlit Ambusher
Odds=Odds // Ends
Okaun, Eye of Chaos=Okaun, Eye of Chaos // Okaun, Eye of Chaos
Okiba Reckoner Raid=Okiba Reckoner Raid // Nezumi Road Captain
Ondu Inversion=Ondu Inversion // Ondu Skyruins
Onward=Onward // Victory
Order=Order // Chaos
Order of Midnight=Order of Midnight // Alter Fate
Orochi Eggwatcher=Orochi Eggwatcher // Shidako, Broodmistress
Outland Liberator=Outland Liberator // Frenzied Trapbreaker
Overwhelmed Archivist=Overwhelmed Archivist // Archive Haunt
Pain=Pain // Suffering
Panicked Bystander=Panicked Bystander // Cackling Culprit
Path of Mettle=Path of Mettle // Metzali, Tower of Triumph
Pegasus Guardian=Pegasus Guardian // Rescue the Foal
Pelakka Predation=Pelakka Predation // Pelakka Caverns
Pestilent Cauldron=Pestilent Cauldron // Restorative Burst
Pious Evangel=Pious Evangel // Wayward Disciple
Plargg, Dean of Chaos=Plargg, Dean of Chaos // Augusta, Dean of Order
Poppet Stitcher=Poppet Stitcher // Poppet Factory
Prepare=Prepare // Fight
Primal Amulet=Primal Amulet // Primal Wellspring
Profane Procession=Profane Procession // Tomb of the Dusk Rose
Profit=Profit // Loss
Protect=Protect // Serve
Pure=Pure // Simple
Queen of Ice=Queen of Ice // Rage of Winter
Radiant Grace=Radiant Grace // Radiant Restraints
Ragged Recluse=Ragged Recluse // Odious Witch
Rags=Rags // Riches
Rahilda, Wanted Cutthroat=Rahilda, Wanted Cutthroat // Rahilda, Feral Outlaw
Ravenous Demon=Ravenous Demon // Archdemon of Greed
Ready=Ready // Willing
Realm-Cloaked Giant=Realm-Cloaked Giant // Cast Off
Reaper of Night=Reaper of Night // Harvest Fear
Reason=Reason // Believe
Reckless Stormseeker=Reckless Stormseeker // Storm-Charged Slasher
Reckless Waif=Reckless Waif // Merciless Predator
Reduce=Reduce // Rubble
Refuse=Refuse // Cooperate
Reidane, God of the Worthy=Reidane, God of the Worthy // Valkmira, Protector's Shield
Repudiate=Repudiate // Replicate
Research=Research // Development
Response=Response // Resurgence
Restless Bloodseeker=Restless Bloodseeker // Bloodsoaked Reveler
Revival=Revival // Revenge
Rimrock Knight=Rimrock Knight // Boulder Rush
Rise=Rise // Fall
Riverglide Pathway=Riverglide Pathway // Lavaglide Pathway
Road=Road // Ruin
Rosethorn Acolyte=Rosethorn Acolyte // Seasonal Ritual
Rough=Rough // Tumble
Rowan, Scholar of Sparks=Rowan, Scholar of Sparks // Will, Scholar of Frost
Rune-Tail, Kitsune Ascendant=Rune-Tail, Kitsune Ascendant // Rune-Tail's Essence
Runo Stromkirk=Runo Stromkirk // Krothuss, Lord of the Deep
Sage of Ancient Lore=Sage of Ancient Lore // Werewolf of Ancient Hunger
Said=Said // Done
Sapphire Dragon=Sapphire Dragon // Psionic Pulse
Sasaya, Orochi Ascendant=Sasaya, Orochi Ascendant // Sasaya's Essence
Scorned Villager=Scorned Villager // Moonscarred Werewolf
Screeching Bat=Screeching Bat // Stalking Vampire
Sea Gate Restoration=Sea Gate Restoration // Sea Gate, Reborn
Sea Hag=Sea Hag // Aquatic Ingress
Search for Azcanta=Search for Azcanta // Azcanta, the Sunken Ruin
Sejiri Shelter=Sejiri Shelter // Sejiri Glacier
Selfless Glyphweaver=Selfless Glyphweaver // Deadly Vanity
Shady Traveler=Shady Traveler // Stalking Predator
Shaile, Dean of Radiance=Shaile, Dean of Radiance // Embrose, Dean of Shadow
Shatterskull Smashing=Shatterskull Smashing // Shatterskull, the Hammer Pass
Shepherd of the Flock=Shepherd of the Flock // Usher to Safety
Shrill Howler=Shrill Howler // Howling Chorus
Silundi Vision=Silundi Vision // Silundi Isle
Silverflame Squire=Silverflame Squire // On Alert
Skin Invasion=Skin Invasion // Skin Shedder
Skyclave Cleric=Skyclave Cleric // Skyclave Basilica
Smelt=Smelt // Herd // Saw
Smitten Swordmaster=Smitten Swordmaster // Curry Favor
Smoldering Egg=Smoldering Egg // Ashmouth Dragon
Smoldering Werewolf=Smoldering Werewolf // Erupting Dreadwolf
Solitary Hunter=Solitary Hunter // One of the Pack
Song-Mad Treachery=Song-Mad Treachery // Song-Mad Ruins
Soul Seizer=Soul Seizer // Ghastly Haunting
Soulcipher Board=Soulcipher Board // Cipherbound Spirit
Spellrune Painter=Spellrune Painter // Spellrune Howler
Spikefield Hazard=Spikefield Hazard // Spikefield Cave
Spite=Spite // Malice
Spring=Spring // Mind
Stand=Stand // Deliver
Start=Start // Finish
Startled Awake=Startled Awake // Persistent Nightmare
Status=Status // Statue
Stitch in Time=Stitch in Time // Stitch in Time
Storm the Vault=Storm the Vault // Vault of Catlacan
Struggle=Struggle // Survive
Student of Elements=Student of Elements // Tobita, Master of Winds
Supply=Supply // Demand
Suspicious Stowaway=Suspicious Stowaway // Seafaring Werewolf
Sword Coast Serpent=Sword Coast Serpent // Capsizing Wave
Tales of Master Seshiro=Tales of Master Seshiro // Seshiro's Living Legacy
Tangleclaw Werewolf=Tangleclaw Werewolf // Fibrous Entangler
Tangled Florahedron=Tangled Florahedron // Tangled Vale
Tavern Ruffian=Tavern Ruffian // Tavern Smasher
Teachings of the Kirin=Teachings of the Kirin // Kirin-Touched Orochi
Tergrid, God of Fright=Tergrid, God of Fright // Tergrid's Lantern
Thaumatic Compass=Thaumatic Compass // Spires of Orazca
The Dragon-Kami Reborn=The Dragon-Kami Reborn // Dragon-Kami's Egg
The Fall of Lord Konda=The Fall of Lord Konda // Fragment of Konda
The Kami War=The Kami War // O-Kagachi Made Manifest
The Long Reach of Night=The Long Reach of Night // Animus of Night's Reach
The Modern Age=The Modern Age // Vector Glider
The Restoration of Eiganjo=The Restoration of Eiganjo // Architect of Restoration
The Shattered States Era=The Shattered States Era // Nameless Conqueror
The Three Weird Sisters=The Three Weird Sisters // Fiends of Darkest Night
Thing in the Ice=Thing in the Ice // Awoken Horror
Thraben Gargoyle=Thraben Gargoyle // Stonewing Antagonizer
Thraben Sentry=Thraben Sentry // Thraben Militia
Thrash=Thrash // Threat
Tireless Hauler=Tireless Hauler // Dire-Strain Brawler
Tlincalli Hunter=Tlincalli Hunter // Retrieve Prey
Toil=Toil // Trouble
Topaz Dragon=Topaz Dragon // Entropic Cloud
Toralf, God of Fury=Toralf, God of Fury // Toralf's Hammer
Tormented Pariah=Tormented Pariah // Rampaging Werewolf
Torrent Sculptor=Torrent Sculptor // Flamethrower Sonata
Tovolar's Huntmaster=Tovolar's Huntmaster // Tovolar's Packleader
Tovolar, Dire Overlord=Tovolar, Dire Overlord // Tovolar, the Midnight Scourge
Town Gossipmonger=Town Gossipmonger // Incited Rabble
Treasure Map=Treasure Map // Treasure Cove
Trial=Trial // Error
Tribute to Horobi=Tribute to Horobi // Echo of Death's Wail
Tuinvale Treefolk=Tuinvale Treefolk // Oaken Boon
Turn=Turn // Burn
Turntimber Symbiosis=Turntimber Symbiosis // Turntimber, Serpentine Wood
Twinblade Geist=Twinblade Geist // Twinblade Invocation
Two-Handed Axe=Two-Handed Axe // Sweeping Cleave
Ulrich of the Krallenhorde=Ulrich of the Krallenhorde // Ulrich, Uncontested Alpha
Ulvenwald Captive=Ulvenwald Captive // Ulvenwald Abomination
Ulvenwald Mystics=Ulvenwald Mystics // Ulvenwald Primordials
Ulvenwald Oddity=Ulvenwald Oddity // Ulvenwald Behemoth
Umara Wizard=Umara Wizard // Umara Skyfalls
Uninvited Geist=Uninvited Geist // Unimpeded Trespasser
Uvilda, Dean of Perfection=Uvilda, Dean of Perfection // Nassari, Dean of Expression
Valakut Awakening=Valakut Awakening // Valakut Stoneforge
Valentin, Dean of the Vein=Valentin, Dean of the Vein // Lisette, Dean of the Root
Valki, God of Lies=Valki, God of Lies // Tibalt, Cosmic Impostor
Vance's Blasting Cannons=Vance's Blasting Cannons // Spitfire Bastion
Vastwood Fortification=Vastwood Fortification // Vastwood Thicket
Vengeful Strangler=Vengeful Strangler // Strangling Grasp
Vildin-Pack Outcast=Vildin-Pack Outcast // Dronepack Kindred
Village Ironsmith=Village Ironsmith // Ironfang
Village Messenger=Village Messenger // Moonrise Intruder
Village Watch=Village Watch // Village Reavers
Villagers of Estwald=Villagers of Estwald // Howlpack of Estwald
Volatile Arsonist=Volatile Arsonist // Dire-Strain Anarchist
Voldaren Bloodcaster=Voldaren Bloodcaster // Bloodbat Summoner
Voldaren Pariah=Voldaren Pariah // Abolisher of Bloodlines
Voltaic Visionary=Voltaic Visionary // Volt-Charged Berserker
Wandering Archaic=Wandering Archaic // Explore the Vastlands
Warrant=Warrant // Warden
Wax=Wax // Wane
Wear=Wear // Tear
Weary Prisoner=Weary Prisoner // Wrathful Jailbreaker
Weaver of Blossoms=Weaver of Blossoms // Blossom-Clad Werewolf
Wedding Announcement=Wedding Announcement // Wedding Festivity
Westvale Abbey=Westvale Abbey // Ormendahl, Profane Prince
Who=Who // What // When // Where // Why
Wolfbitten Captive=Wolfbitten Captive // Krallenhorde Killer
Wolfkin Outcast=Wolfkin Outcast // Wedding Crasher
Young Blue Dragon=Young Blue Dragon // Sand Augury
Young Red Dragon=Young Red Dragon // Bathe in Gold
Zndrsplt, Eye of Wisdom=Zndrsplt, Eye of Wisdom // Zndrsplt, Eye of Wisdom
Zof Consumption=Zof Consumption // Zof Bloodbog
Tamiyo's Journal (Entry 922)=Tamiyo's Journal
Tamiyo's Journal (Entry 711)=Tamiyo's Journal
Tamiyo's Journal (Entry 546)=Tamiyo's Journal
Tamiyo's Journal (Entry 855)=Tamiyo's Journal
Tamiyo's Journal (Entry 434)=Tamiyo's Journal
Tamiyo's Journal (Entry 653)=Tamiyo's Journal
